<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="SQLite" connectionString="Data Source={FilePath}" providerName="System.Data.SQLite" />
    <add name="SqlServer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename={FilePath};Integrated Security=True;Connect Timeout=5" providerName="System.Data.SqlClient" />
    <add name="SqlCe" connectionString="Data Source={FilePath}" providerName="System.Data.SqlServerCe" />
    <add name="Excel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={FilePath};Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" providerName="System.Data.OleDb" />
    <add name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={FilePath}" providerName="System.Data.OleDb" />
    <add name="OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={FilePath};Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" providerName="System.Data.OleDb" />
    <add name="CSV" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={FilePath};Extended Properties='Text';FMT='Delimited'" providerName="System.Data.OleDb" />
    <add name="BudgetExecution.Properties.Settings.ACCDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Data\Database\Access\DataModels\Data.accdb" providerName="System.Data.OleDb" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <add key="SQLite" value="C:\Users\terry\source\repos\Badjao\Data\Database\SQLite\DataModels\Data.db" />
    <add key="SqlCe" value="C:\Users\terry\source\repos\Badjao\Data\Database\SqlCe\DataModels\Data.sdf" />
    <add key="SqlServer" value="C:\Users\terry\source\repos\Badjao\Data\Database\MSSQL\DataModels\Data.mdf" />
    <add key="Access" value="C:\Users\terry\source\repos\Badjao\Data\Database\Access\DataModels\Data.accdb" />
    <add key="OleDbData" value="C:\Users\terry\source\repos\Badjao\Data\Database\OleDb\DataModels\Data.mdb" />
    <add key="Excel" value="{FilePath}" />
    <add key="CSV" value="{FilePath}" />
    <add key="TXT" value="{FilePath}" />
    <add key="ToolStripImages" value="C:\Users\terry\source\repos\Badjao\Resources\Images\ToolStrip\png" />
    <add key="ProviderPath" value="C:\Users\terry\source\repos\Badjao\Resources\Images\Carousel\Provider" />
    <add key="FunctionalityPath" value="C:\Users\terry\source\repos\Badjao\Resources\Images\Carousel\Functionality" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
    <add key="Extensions" value="C:\Users\terry\source\repos\Badjao\Resources\Extenstions.resx" />
    <add key="Loaders" value="C:\Users\terry\source\repos\Badjao\Resources\Loaders.resx" />
    <add key="Providers" value="C:\Users\terry\source\repos\Badjao\Resources\Providers.resx" />
    <add key="ToolStrip" value="C:\Users\terry\source\repos\Badjao\Resources\ToolStrip.resx" />
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
</configuration>