<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="SQLite" connectionString="Data Source={FilePath}" providerName="System.Data.SQLite" />
        <add name="SqlServer" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename={FilePath};Integrated Security=True;Connect Timeout=5" providerName="System.Data.SqlClient" />
        <add name="SqlCe" connectionString="Data Source={FilePath}" providerName="System.Data.SqlServerCe" />
        <add name="Excel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={FilePath};Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" providerName="System.Data.OleDb" />
        <add name="Access" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Data\Access\DataModels\Data.accdb;Persist Security Info=False" providerName="System.Data.OleDb" />
        <add name="OleDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={FilePath};Extended Properties='Excel 12.0;HDR=YES;IMEX=1;'" providerName="System.Data.OleDb" />
        <add name="CSV" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source={FilePath};Extended Properties='Text';FMT='Delimited'" providerName="System.Data.OleDb" />
        <add name="DefaultConnection" connectionString="Data Source={FilePath}" providerName="System.Data.SQLite" />
    </connectionStrings>
    <appSettings>
        <add key="SQLiteData" value="C:\Users\terry\source\repos\Badjao\Data\Database\SQLite\DataModels\Data.db" />
        <add key="SQLiteReferences" value="C:\Users\terry\source\repos\Badjao\Data\Database\SQLite\ReferenceModels\References.db" />
        <add key="SqlCeData" value="C:\Users\terry\source\repos\Badjao\Data\Database\SqlCe\DataModels\Data.sdf" />
        <add key="SqlCeReferences" value="C:\Users\terry\source\repos\Badjao\Data\Database\SqlCe\ReferenceModels\References.sdf" />
        <add key="SqlServerData" value="C:\Users\terry\source\repos\Badjao\Data\Database\MSSQL\DataModels\Data.mdf" />
        <add key="SqlServerReferences" value="C:\Users\terry\source\repos\Badjao\Data\Database\MSSQL\ReferenceModels\References.mdf" />
        <add key="AccessData" value="C:\Users\terry\source\repos\Badjao\Data\Database\Access\DataModels\Data.accdb" />
        <add key="AccessReferences" value="C:\Users\terry\source\repos\Badjao\Data\Database\Access\DataModels\References.accdb" />
        <add key="AccessViews" value="C:\Users\terry\source\repos\Badjao\Data\Database\Access\DataModels\Views.accdb" />
        <add key="OleDbData" value="C:\Users\terry\source\repos\Badjao\Data\Database\OleDb\DataModels\Data.mdb" />
        <add key="OleDbReferences" value="C:\Users\terry\source\repos\Badjao\Data\Database\OleDb\DataModels\References.mdb" />
        <add key="Excel" value="{FilePath}" />
        <add key="CSV" value="{FilePath}" />
        <add key="TXT" value="{FilePath}" />
        <add key="ToolStripImages" value="C:\Users\terry\source\repos\Badjao\Resources\Images\ToolStrip\png" />
        <add key="ProviderPath" value="C:\Users\terry\source\repos\Badjao\Resources\Images\Carousel\Provider" />
        <add key="FunctionalityPath" value="C:\Users\terry\source\repos\Badjao\Resources\Images\Carousel\Functionality" />
    </appSettings>
</configuration>