<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.5" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net461" />
  <package id="System.Data.OleDb" version="6.0.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.116.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.116.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.116.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="ValueTupleBridge" version="0.1.5" targetFramework="net461" />
</packages>